label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}


label {
    margin: .4rem 0;
}


.btn-success{
    background-color: #606050;
    cursor: pointer;
    margin-top: 5%;
    
  }


  .button{
    background-color: #606050;
    cursor: pointer;
    margin-top: 5%;
  }


